$base-white:            #fff;
$base-black:            #000;

$base-blue:             #100C42;
$base-blue-light:       #282487;

$base-lightBlue:        #55aac0;
$base-lightBlue-light:  #89d6ea;

$base-green:            #AEEB99;
$base-red:              #EB716D;
$base-grey:             #A29995;
$base-grey-light:       #d7d0cd;


