$st-bf: sans-serif;

// stencil-font-[pixel]: rem value
$st-fs-10: $st-sp-10;
$st-fs-12: $st-sp-12;
$st-fs-14: $st-sp-14;
$st-fs-16: $st-sp-16;
$st-fs-18: $st-sp-18;
$st-fs-20: $st-sp-20;
$st-fs-30: $st-sp-30;
$st-fs-32: $st-sp-32;

// font weights
$st-fw-r: regular;
$st-fw-b: bold;

