// stencil button

// defaults
$stencil-button-bg: $base-blue;
$stencil-button-color: $base-white;
$stencil-button-bg-hover: $base-blue-light;

// secondary
$stencil-button-bg-secondary: $base-lightBlue;
$stencil-button-color-secondary: $base-white;

// success
$stencil-button-bg-success: $base-green;
$stencil-button-color-success: $base-blue;

// error
$stencil-button-bg-error: $base-red;
$stencil-button-color-error: $base-white;
